<fieldset class="new-line-form">
<form action="/inventories/<%= params[:inv_name] %>/add" method="post" class="new-item">
  <label>
    Depth/Tone:
    <input type="number" name="depth" min="1" max="11" required>
    /
    <input type="number" name="tone" min="0" max="99" required>
  </label>

  <label>
    Color line
    <select name="line">
      <% all_lines.each do |line| %>
        <option><%= line %></option>
      <% end %>
    </select>
  </label>

  <label>
    Count
    <input type="number" name="count" value="1" min="1" required>
  </label>

  <input type="submit" value="Add Item">
</form>
<form action="/inventories/<%= params[:inv_name] %>" method="get">
  <input type="submit" value="Done Adding Items">
</form>
</fieldset>