<div class="inventories-list">
  <h2><%= @name %>'s Inventories</h2>

  <% @inventories.each do |name, _| %>
    <a href="/inventories/<%= name %>"><%= name %></a>
  <% end %>

  <form action="/inventories/new" method="get">
    <button type="submit">New Inventory</button>
  </form>
</div>
