<form action="/inventories/<%= params[:inv_name] %>/new-line" method="post" class="new-line">
  <label>
    What is the name of the new line?
    <input type="text" name="new_line" value="<%= params[:line] %>">
  </label>
  <input type="submit" value="Add line">
</form>