<form action="/inventories/new" method="post" class="new-inventory">
  <label>
    What is the name of the new inventory?
    <input type="text" name="new_inventory" value="<%= params[:new_inventory] %>">
  </label>
  <input type="submit" value="Add Inventory">
</form>