<form action="/inventories/<%= @inventory.name %>/new-line" method="post" class="new-line">
  <label>
    What is the name of the new line?
    <input type="text" name="line" value="<%= params[:line] %>">
  </label>
  <input type="submit" value="Add line">
</form>