<h2>Create an Account</h2>
<form action="/register" method="post" class="register">
  <div>
    <label for="name">What is your first name?</label>
    <input type="text" name="name" id="name" value="<%= params[:name] %>" required>
  </div>

  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="<%= params[:username] %>" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
  </div>

  <div>
    <label for="password2">Confirm Password:</label>
    <input type="password" name="password2" id="password2" required>
  </div>

  <input type="submit" value="Register">
</form>