<form action="/signin" method="post" class="signin">
  <label>
    Username:
    <input type="text" name="username" value="<%= params[:username] %>">
  </label>
  
  <label>
    Password:
    <input type="password" name="password">
  </label>

  <input type="submit" value="Sign In">
</form>

<p>Don't have an account? <a href="/register">Register Here</a></p>

<br>
<p>
  Just checking things out? We have a demo account that is already setup! 
  <form action="/signin" method="post">
    <label>
      Sign in as Stylish Owl:
      <input type="hidden" name="username" value="stylishowl">
      <input type="hidden" name="password" value="mrstylesinthehouse">
      <input type="submit" value="Sign In">
    </label>
  </form>
</p>
